<p>
	The following product has been added to your cart:
</p> <br>
<p>
	Product Name: <strong> {{ order.name }} </strong> <br>
	Product Price: <strong> {{ order.price }} </strong> <br>
</p>

<p>
	To see your cart <a href="{{ appUrl('cart') }}"> click here </a>
</p>